@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 7px;
  height: 3px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #4b515b;
}

::-webkit-scrollbar-thumb:hover {
  background: #5c636e;
}

.circle-1 {
  will-change: transform;
  animation: circle-1-keyframes 13s ease-in-out infinite alternate;
}

.circle-2 {
  will-change: transform;
  animation: circle-2-keyframes 8s ease-in-out infinite alternate;
}

.circle-3 {
  will-change: transform;
  animation: circle-3-keyframes 18s ease-in-out infinite alternate;
}

@keyframes circle-1-keyframes {
  0% {
  }
  100% {
    transform: translateX(200px) translateY(50px);
  }
}

@keyframes circle-2-keyframes {
  0% {
  }
  100% {
    transform: translateX(300px) translateY(-25px);
  }
}

@keyframes circle-3-keyframes {
  0% {
  }
  100% {
    transform: translateX(250px) translateY(25px);
  }
}
